<div class="login-img" >
  <div class="form-container" id="form-container">
  <h2 class="dashboard-h display-6 text-center" style="color: white;"> Admin Dashboard - User Management</h2>
<table class="table table-hover table-dark" >
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user) { %>
    <tr>
      <td><%= user.firstName%> <%= user.lastName%></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
        <a href="/admin/users/bookings/<%= user.id %>">Bookings</a>
        <a href="/admin/users/update/<%= user.id %>">Edit</a>
        <a href="/admin/users/delete/<%= user.id %>">Delete</a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
</div>
</div>