<div class="login-img" >
<div class="form-container">
  <h2 class="dashboard-h display-6 text-center" style="color: white;">Update User details</h2>
  <form action="/admin/users/update/<%- user.id %>" method="POST">
    <div class="card card-body form-row" id="card-background">
      <div class="form-group col-md-6">
        <label>First Name:
          <input name="firstName" class="form-control" value="<%- user.firstName %>" />
        </label>
      </div>
      <div class="col">
        <label>Last Name:
          <input name="lastName" value="<%- user.lastName %>" />
        </label>
      </div>
    </div>
    <div class="card card-body" id="card-background">
      <label>E-Mail:
        <input name="email" value="<%- user.email %>" />
      </label>
    </div>
    <div class="card card-body" id="card-background">
      <label>Company:
        <input name="company" value="<%- user.company %>" />
      </label>
    </div>
    <div class="card card-body" id="card-background">
      <label>New password:
        <input name="newPassword" type="password" />
      </label>
    </div>

    <!-- Buttons -->
    <div class="buttons">
      <div>
        <a href="/users/update/<%- user.id %>">
          <button type="submit">Save changes</button>
        </a>
      </div>
      <div>
        <a href="/admin/users">
          <button>Back to Admin Dashboard</button>
        </a>
      </div>
    </div>
  </form>
</div>
</div>