<h2>Admin Dashboard - User Management</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user) { %>
    <tr>
      <td><%= user.firstName%> <%= user.lastName%></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
        <a href="/admin/users/bookings/<%= user.id %>">Bookings</a>
        <a href="/admin/users/update/<%= user.id %>">Edit</a>
        <a href="/admin/users/delete/<%= user.id %>">Delete</a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<script>

</script>
