<div class="login-img">
  <div class="form-container">
    <h2 class="dashboard-h display-6 text-center">My Account Details</h2>
    <form action="/profile/my-account/update" method="POST">
      <div class="card card-body form-row" id="card-background">
        <div class="form-group col-md-6">
          <label>First Name:
            <input name="firstName" class="form-control" value="<%- user.firstName %>" />
          </label>
        </div>
        <div class="col">
          <label>Last Name:
            <input name="lastName" value="<%- user.lastName %>" />
          </label>
        </div>
      </div>
      <div class="card card-body" id="card-background">
        <label>E-Mail:
          <input name="email" value="<%- user.email %>" />
        </label>
      </div>
      <div class="card card-body" id="card-background">
        <label>Company:
          <input name="company" value="<%- user.company %>" />
        </label>
      </div>
      <div class="card card-body" id="card-background">
        <label>Current Password:
          <input name="password" type="password" />
         <% if (errorMessage) { %>
          <p class="error-message"> <%- errorMessage%> </p>  
          <% } %> 
        </label>
      </div>
      <div class="card card-body" id="card-background">
        <label>New password:
          <input name="passwordHash" type="password" />
        </label>
      </div>

        <div class="buttons">
          <div>
            <a href="/profile/my-account/update">
              <button class="btn btn-primary" id="car-button">Save changes</button>
            </a>
          </div>
          <div>
            <a href="/profile/my-account">
              <button class="btn btn-primary" id="car-button">Back to my Account</button>
            </a>
          </div>
        </div>
    </form>
  </div>
</div>