<h2>Booking Confirmation</h2>

<p>Your request has been submitted successfully.</p>

<h3>Request Details</h3>
<ul>
  <li>Start Date: <%= startDate %></li>
  <li>End Date: <%= endDate %></li>
 </ul>

<h3>Vehicle Information</h3>
<ul>
  <ul>
        <li>Make: <%= car.make %></li>
    <li>Model: <%= car.model %></li>
    <li>Year: <%= car.year %></li>
    <li>Registration: <%= car.registration %></li>
  </ul>
</ul>

<p>Thank you for choosing our service. We will process your request and contact you shortly.</p>
