<nav>
    <a href="/admin">Dashboard</a>
    <a href="">Cars</a>
    <a href="">Users</a>
    <a href="/auth/logout">Logout</a>
  </nav>
  
  <% if (fleet) { %>
    <h3>Company Fleet</h3>
    <div class="card-container">
      <% fleet.forEach(function(car) { %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= car.make %> <%= car.model %></h4>
            <p class="card-text">Description:
            <ul>
              <li><%= car.fuelType %></li>
              <li><%= car.features %></li>
              <li><%= car.registration %></li>
            </ul>
            <a href="/admin/fleet/update/<%- car.id %>">
                <button>Edit car</button>
              </a>
              <a href="/admin/fleet/delete/<%- car.id %>" onclick="return confirm('Are you sure you want to delete this item?');">
                <button>Delete car</button>
              </a>
          </div>
        </div>
      <% }) %>
    </div>
    <% } else { %>
    <p>No cars available for the selected date and time.</p>
    <% } %>
  
  