<nav>
  <a href="/profile">Dashboard</a>
  <a href="/profile/my-account">My Account</a>
  <a href="/cars/request">Rent a car</a>
  <a href="/cars/reservations">My Reservations</a>
  <a href="/auth/logout">Logout</a>
</nav>
<h2>My Reservations</h2>

<!-- TODO: Add condition to separate previous/upcoming reservations -->
<h3>Upcoming Reservations</h3>
<div class="card-container">
  <% if (activeBookings) { %>
  <% activeBookings.forEach(reservation => { %>
  <div class="card card-body">
    <h4>Active</h4>
    <p>
      <%= moment(reservation.startDate).format('LL') %> -
      <%= moment(reservation.endDate).format('LL') %>
      <img src="<%= .imageUrl ? .imageUrl : "/images/defaultcar.png" %>" alt="Car Image" class="car-image">
    </p>
    <% if (reservation) { %>
    <h5><%- reservation.occasion %> <h5>
        <h5><%- reservation.destination %> <h5>
            <% } %>

            <a href="/profile/my-account/update">
              <button>Add Travel-Details</button>
            </a>
            <a href="/cars/reservation/delete/<%- reservation.id%>" onclick="return confirm('Are you sure you want to cancel your reservation?');">
              <button>Cancel</button>
            </a>
  </div>
  <% }) %>
  <% } %>
</div>

<h3>Previous Reservations</h3>
<div class="card-container">
  <% if (prevBookings) { %>
  <% prevBookings.forEach(reservation => { %>
  <div class="card card-body">
    <h4>Closed</h4>
    <p>
      <%= moment(reservation.startDate).format('LL') %> -<br>
      <%= moment(reservation.endDate).format('LL') %> -<br>
    </p>
  </div>
  <% }) %>
  <% } %>
</div>